{%if admin%} {% extends "admin.html" %} {%else%} {%extends "req.html"%}
{%endif%} {% block title %}Job Postings form{% endblock title %} {% block body
%}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-white new-user-card">
        <div class="card-body">
          <h5 class="card-title">New Job Posting</h5>
          <form method="post" action="/new_job">
            {%if msg%}
            <p class="text-success-msg text-center">{{msg}}</p>
            {%endif%}
            <div class="mb-3">
              <label for="job-title" class="form-label">Company Name</label>
              <input
                type="text"
                class="form-control"
                id="company_name"
                name="company_name"
                required
              />
            </div>
            <div class="mb-3">
              <label for="job-title" class="form-label">Job Title</label>
              <input
                type="text"
                class="form-control"
                id="job-title"
                name="job-title"
                required
              />
            </div>
            <div class="mb-3">
              <label for="job-description" class="form-label"
                >Job Description</label
              >
              <textarea
                class="form-control"
                id="job-description"
                rows="4"
                name="job-description"
                required
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="job-requirements" class="form-label"
                >Job Requirements</label
              >
              <textarea
                class="form-control"
                id="job-requirements"
                rows="4"
                name="job-requirements"
                required
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="employment-type" class="form-label"
                >Employment Type</label
              >
              <select
                class="form-select"
                id="employment-type"
                name="employment-type"
                required
              >
                <option value="">Select Employment Type</option>
                <option value="permanent">Permanent</option>
                <option value="temporary">Temporary</option>
                <option value="freelance">Freelance</option>
                <option value="contract">Contract</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="employment-type" class="form-label">Job Field</label>
              <select
                class="form-select"
                id="employment-type"
                name="job-field"
                required
              >
                <option value="">Select one</option>
                <option value="Computer science">Computer Science</option>
                <option value="Civil">Civil</option>
                <option value="Electrical">Electrical</option>
                <option value="Mechanical">Mechanical</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="location" class="form-label">Location</label>
              <input
                type="text"
                class="form-control"
                id="location"
                name="location"
                required
              />
            </div>
            <div class="mb-3">
              <label for="compensation" class="form-label">Compensation</label>
              <input
                type="text"
                class="form-control"
                id="compensation"
                name="compensation"
                required
              />
            </div>
            <div class="mb-3">
              <label for="application-deadline" class="form-label"
                >Application Deadline</label
              >
              <input
                type="date"
                class="form-control"
                id="application-deadline"
                name="application-deadline"
                required
              />
            </div>
            <div class="mb-3">
              <label for="contact-info" class="form-label"
                >Contact Information</label
              >
              <input
                type="text"
                class="form-control"
                id="contact-info"
                name="contact-info"
                required
              />
            </div>
            <button type="submit" class="btn submit-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
